@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  min-width: 320px;
  background-color: #151212;
  overflow: hidden;
}

/* ==================================================== */
/* ГЛОБАЛЬНЕ ВБИВСТВО СИНІХ РАМОК ТА ЗАЛИПАННЯ НА ANDROID */
/* ==================================================== */

* {
  /* Вбиває синій спалах при тапі на Android */
  -webkit-tap-highlight-color: transparent !important;
  -webkit-touch-callout: none !important;
}

/* Вбиває будь-які фокусні рамки глобально */
*:focus, 
*:active, 
*:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}

button, a, input, textarea, select {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

button, [type="button"], [type="submit"], [type="reset"] {
  appearance: none !important;
  -webkit-appearance: none !important;
  background-color: transparent;
}



.pt-safe {
  padding-top: max(env(safe-area-inset-top), 16px);
}
.pb-safe {
  padding-bottom: max(env(safe-area-inset-bottom), 16px);
}